@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kullanıcı Rol Listesi</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Kullanıcı</th>
            <th>Rol Ata</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.UserName</td>
                    <td><a href="/Admin/Role/AssignRole/@item.Id/" class="btn btn-primary">Rol Ata</a></td>
                </tr>
            }
    </tbody>
</table>
<a href="/Admin/Role/Index/" class="btn btn-info">Rol Listesine Dön</a>