@model Blog

@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}




	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">
						<div class="b-grid-top">
						<div class="blog_info_left_grid">
								<a href="single.html">
								<img src="~/BlogImagesFolder/BlogThumbnailImage/@Model.BlogImage" width="100%" height="100%" class="img-fluid" alt="">
								</a>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i> @Model.BlogCreateDate.ToString("dd MMM yyyy")
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-thumbs-up"></i> 201 Beğeni
										</a>
									</li>
									<li>
										<a href="#">
											<i class="far fa-comment"></i> 15 Yorum
										</a>
									</li>

								</ul>
							</div>
						</div>

						<h3>
							<a href="single.html">@Model.BlogTitle</a>
						</h3>
						<p>
							@Model.BlogContent
						</p>
						<a href="single.html" class="btn btn-primary read-m">Read More</a>
					</div>

					<div id="commentList">
					@await Component.InvokeAsync("CommentListByBlog", new { id = Model.BlogID })
					</div>

					@*await Html.PartialAsync("~/Views/Comment/CommentListByBlog.cshtml")*@
					@await Component.InvokeAsync("CommentAddComponent", new { id = Model.BlogID })

				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">

						<div class="tech-btm">
							<img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
						</div>
						<h4>Haberdar olmak için abone ol!</h4>
					    @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
						@await Component.InvokeAsync("CategoryList")
						@await Component.InvokeAsync("WriterLastBlog",new {id=Model.WriterID})
					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>

