
<div class="row">
	<div class="col-lg-6">
		<div class="widget navy-bg no-padding">
			<div class="p-m">
				<h3 class="font-bold no-margins">
					Asp.Net Core Proje Geliştirme Kampı
				</h3>
				<br />
				<small>Bu proje <a style="color:khaki; " href="https://www.youtube.com/@@MurattYucedag">Murat Yücedağ</a> YouTube kanalında gerçekleştirilen <a style="color:khaki" href="https://www.youtube.com/watch?v=HXKnDUb06iw&list=PLKnjBHu2xXNNkinaVhPqPZG0ubaLN63ci&index=2">Asp.Net Core Proje Kampı</a> kapsamında geliştirilmektedir.</small>
			</div>
			<div class="flot-chart">
				<div class="flot-chart-content" id="flot-chart1"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<a href="/Blog/BlogReadAll/@ViewBag.v1.BlogID">
			<div class="widget lazur-bg no-padding">
				<div class="p-m">
					<h3>Son Eklenen Blog</h3>
					<br />
					<img src="~/BlogImagesFolder/BlogThumbnailImage/@ViewBag.v1.BlogThumbnailImage" class="img-thumbnail img-fluid" />
					<br />
					<h4 class="font-bold no-margins">
						@ViewBag.v1.BlogTitle
					</h4>
				</div>
			</div>
		</a>
	</div>
	<div class="col-lg-3">
		<div class="widget yellw-bg no-padding">
			<div class="p-m">
				<h1 class="m-xs">$ 50,992</h1>

				<h3 class="font-bold no-margins">
					Half-year revenue margin
				</h3>
				<small>Sales marketing.</small>
			</div>
			<div class="flot-chart">
				<div class="flot-chart-content" id="flot-chart3"></div>
			</div>
		</div>
	</div>
</div>